<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('icon/sf.ico') }}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
		{% endblock %}

		{% block javascripts %}
			<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
			{{ encore_entry_script_tags('app') }}
			<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>
		{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
		{% block body %}{% endblock %}
	</body>
</html>
